---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
numberOfLatestPostsToShow: 3
---
<div class="home-info" style='background-color:#EDEDED'>
<h1>Penn Libraries staff are unionizing!</h1>
<article>
<p>As the staff of the Penn Libraries, we deeply believe in our organization’s mission to “produce, preserve, and provide access to knowledge,” and share the Libraries’ stated values of empowerment, communication, collaboration, innovation, transparency, and respect. We believe that a Penn Libraries best poised to fulfill this mission is one which truly embraces these values not only with words, but with actions.</p>

<p>Forming a union will make Penn Libraries stronger. It will empower staff to build a safe, inclusive workplace free from discrimination and harassment. A union of, by, and for the workers of Penn Libraries will help reduce turnover, improve job satisfaction, and give voice to underrepresented workers in organizational decision-making, strengthening the Libraries in profound ways.</p>


</article>
</div>
<div class='home-info'>
{% set postsCount = collections.posts | length %}
{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}
<h1>Recent Updates</h1>

{% set postslist = collections.posts | head(-1 * numberOfLatestPostsToShow) %}
{% set postslistCounter = postsCount %}
{% include "postslist.njk" %}

{% set morePosts = postsCount - numberOfLatestPostsToShow %}
{% if morePosts > 0 %}
<p>{{ morePosts }} more update{% if morePosts != 1 %}s{% endif %} can be found in <a href="/blog/">our blog</a>.</p>
{% endif %}

{# List every content page in the project #}
{#
<ul>
	{%- for entry in collections.all %}
	<li><a href="{{ entry.url }}"><code>{{ entry.url }}</code></a></li>
	{%- endfor %}
</ul>
#}
</div>

