---
layout: layouts/base.njk
eleventyNavigation:
  key: Resources
  order: 3
---
<h1>Resources</h1>

<div class="info-box">

<em>This is a living document of resources related to unionization, particularly focused on our union campaign, unions at Penn, and unions in higher ed.</em>
<br><br><hr><br><br>

<li class="resource-item"><a class="resource" href="https://drive.google.com/file/d/1F36_OBQDkI_D-bBa04QT_X2fiEZAFoGm/view?usp=sharing">"Busting Union Busting"</a>, a zine by Penn Libraries United</li>
<li class="resource-item"><a class="resource" href="https://www.nlrb.gov/about-nlrb/rights-we-protect/the-law/interfering-with-employee-rights-section-7-8a1">“Rights We Protect: Interfering with Employee Rights”</a>, NLRB</li>
<li class="resource-item"><a class="resource" href="https://dc47.org/">AFSCME DC47</a></li> 
<li class="resource-item"><a class="resource" href="https://dc47.org/local590/">Local 590</a>

</div>
