---
layout: layouts/base.njk
---
<style>
// Tutorial: https://medium.com/@patrickwestwood/how-to-make-multi-layered-parallax-illustration-with-css-javascript-2b56883c3f27


body {
	padding: 0;
	margin: 0;
	font-family: "Franklin Gothic Medium", sans-serif;
	max-width:100vw !important;
		background-color:lightgrey;

}


#hero {
	height: 700px;
	overflow: hidden;
	position: relative;
	min-width:100vw;

}
#content {
	background-color: white;
}
.layer {
	background-position: bottom center;
	background-size: auto;
	background-repeat: no-repeat;
	width: 100%;
	height: 700px;
	position: fixed;
	z-index: -1;
}

#hero-mobile {
	display: none;
	background: url("https://i.ibb.co/d7hw559/full-illustration.png") no-repeat
		center bottom / cover;
	height: 320px;
}


#hero,
.layer {
	min-height: 700px;
	max-width: 1900px;
	margin: 0 auto;
	overflow: hidden;
}

.layer-bg {
	background-image: url("img/onion-logo-bg.svg");
	translate: 0px 0px;
}
.layer-1 {
	background-image: url("img/onion-logo.svg");
	translate: 0px 200px;
}
.layer-2 {
	background-image: url("img/onion-logo-1.svg");
	translate: 0px 300px;
}

// Media Queries
@media only screen and (max-width: 768px) {
	#hero {
		display: none;
	}
	#hero-mobile {
		display: block;
	}
}



</style>
<script>
(function() {
  // Tutorial: https://medium.com/@patrickwestwood/how-to-make-multi-layered-parallax-illustration-with-css-javascript-2b56883c3f27
  window.addEventListener('scroll', function(event) {
    var depth, i, layer, layers, len, movement, topDistance, translate3d;
    topDistance = this.pageYOffset;
    layers = document.querySelectorAll("[data-type='parallax']");
    for (i = 0, len = layers.length; i < len; i++) {
      layer = layers[i];
      depth = layer.getAttribute('data-depth');
      movement = -12*(topDistance * depth);
      translate3d = 'translate3d(0, ' + movement + 'px, 0)';
      layer.style['-webkit-transform'] = translate3d;
      layer.style['-moz-transform'] = translate3d;
      layer.style['-ms-transform'] = translate3d;
      layer.style['-o-transform'] = translate3d;
      layer.style.transform = translate3d;
    }
  });

}).call(this);

</script>

<br><br><br>
 <div id='hero'>
 <h1 style="text-align:center; padding-top:3em; margin-bottom:-3em; z-index:-1">WE ARE PENN LIBRARIES UNITED</h1>
  <div class='layer-bg layer' data-depth='0.10' data-type='parallax'></div>
  <div class='layer-1 layer' data-depth='0.22' data-type='parallax'></div>
  <div class='layer-2 layer' data-depth='0.25' data-type='parallax'></div>

</div>
<div id='hero-mobile'></div>
<div id="content">
{{ content | safe }}
</div>
